<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <div class="field">
    <label for="name">Nombre: </label>
    <input type="text" name="name" placeholder="Nuevo Pokemon" required formControlName="name">

    <div class="error">
      <p
        *ngFor="let errorMsg of getErrors(form.get('name')!, 'Nombre', { minlength: 'debe tener al menos 4 caracteres.' })">
        {{ errorMsg }}
      </p>
    </div>
  </div>

  <div class="field">
    <label for="front-default">Sprite de frente: </label>
    <input type="text" name="front-default" placeholder="http://www.example.com/image.png" required
      formControlName="front_default">

    <div class="error">
      <p *ngFor="let errorMsg of getErrors(form.get('front_default')!, 'Sprite de frente')">
        {{ errorMsg }}
      </p>
    </div>
  </div>

  <div class="field">
    <label for="back-default">Sprite de espaldas: </label>
    <input type="text" name="back-default" placeholder="http://www.example.com/image.png" required
      formControlName="back_default">

    <div class="error">
      <p *ngFor="let errorMsg of getErrors(form.get('back_default')!, 'Sprite de espaldas')">
        {{ errorMsg }}
      </p>
    </div>
  </div>

  <button type="button" (click)="addType()">+</button>

  <div class="field" *ngFor="let control of types.controls; index as i">
    <button *ngIf="types.length > 1" type="button" (click)="removeType(i)">-</button>
    <label for="type-{{i}}">Tipo {{ i + 1 }}: </label>
    <input type="text" name="type-{{i}}" required placeholder="fairy" [formControl]="control">

    <div class="error">
      <p *ngFor="let errorMsg of getErrors(types.at(i), 'Tipo ' + (i + 1))">
        {{ errorMsg }}
      </p>
    </div>
  </div>

  <button [disabled]="form.invalid" type="submit">
    Agregar
  </button>
</form>